* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 35px;
  padding: 20px 30px;
  a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    &:hover {
      color: #000000;
      text-decoration: underline;
    }
    &.active {
      color: green;
      text-decoration: underline;
    }
  }
}

.login-register-buttons {
  button {
    border: none;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 400;
    &:hover {
      background-color: beige;
    }
  }
  .login-button {
    border-radius: 20px 0 0 20px;
    padding-left: 15px;
  }
  .register-button {
    border-radius: 0 20px 20px 0;
    padding-right: 15px;
  }
}
.theme-button {
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  //   padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border: 1px solid #000;
  }
}

.contact-button {
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  &:hover {
    background-color: #ffff;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}
.custom-select {
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  background: transparent;
  //   border: 1px solid currentColor;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: transparent;
    backdrop-filter: blur(5px); // Optional: adds a blur effect

    .option {
      padding: 0.5rem;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
