.social-link-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  a {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  a:hover {
    transform: scale(1.1);
  }
}
